.error-container {
  margin: 20rem 10rem;
  text-align: left;
  height: 100vh;
  width: 100vw;

  h1 {
    color: rgb(139, 0, 139);
  }
  p {
    margin-top: 1rem;
    a {
      margin-left: 0.5rem;
      text-transform: lowercase;
    }
  }
  button {
    margin: 2rem 0;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid rgb(139, 0, 139);
    outline: none;
  }
}
