.tab-nav-container {
  padding: 0.5rem 0;
  width: 100%;
}

.tab-nav {
  display: flex;
  padding: 0.5rem;

  li {
    margin: 0 1rem;
  }
}

.tab {
  height: 100%;
  width: 6rem;
  padding: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid rgb(104, 4, 129);
  border-radius: 10px;
}

.tab:hover {
  background-color: white;
}

.tab-active {
  @extend .tab;
  background-color: white;
  // border-bottom: none;
  // border-bottom-left-radius: 0px;
  // border-bottom-right-radius: 0px;
}
