.day-list-container {
  padding: 2rem;
  width: 100%;
  min-width: 55rem;
  h2 {
    text-align: left;
    margin: 0rem 0rem 2rem 1rem;
  }
}
.day-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  // hide scroll bar
  // for mozilla
  overflow: -moz-scrollbars-none;
  //for internet explorer
  -ms-overflow-style: none;
}

.day-list::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.chart {
  height: 28rem;
  width: 50rem;
  margin: 3rem 1rem;
  border: 2px solid purple;
  padding: 2rem;
}
